/* SIDEBAR */

.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #0f172a;
  color: white;
  padding: 30px 20px;
}

.sidebar-logo {
  margin-bottom: 40px;
}

.sidebar-logo h2 {
  margin: 0;
  color: #10b981;
}

.sidebar-logo p {
  margin-top: 5px;
  color: #cbd5e1;
  font-size: 14px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin-bottom: 15px;
}

.sidebar-links a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 12px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar-links a:hover {
  background-color: #1e293b;
  color: #10b981;
}